body {
  background-image:url(../images/background.jpg);
  padding: 0px;
  margin: 0px;
  background-size: cover;
  text-align: center;
}

object {
  pointer-events: none;
}

.header {
  padding: 2em 0em 2em 0em;
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 350;
  text-decoration: none;
}

.header:hover {
  color: #3342c0;
  transition: color 1s ease-in-out;
}

.svg-icon {
  height: 10em;
  padding-top: 7em;
  text-align: center;
}

.svg-icon-social {
  height: 2em;
}

.png-icon-social {
  height: 2em;
}
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-links {
  padding: 7em 0em 0em 0em;
  display: flex;
  justify-content: space-around;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.slow {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
