:root {
  --primary-color: #3342c0;
  --social-icons-color: #3342c0;
  --pale-primary-color: #8995ff;
  --highlight-color: #ffa500;
  --text-light-color: #444444;
  --header-color: #727272;
  --default-font: 'Lato', sans-serif;
  --page-background-color: rgb(255, 255, 255);
  --lightest-color: rgb(95, 95, 95);
  --some-color: #a8a8a8;
  --almost-white: #eeeeee;
}

body {
  /* background-image:url(../images/background.jpg); */
  background-color: var(--page-background-color);
  padding: 0px;
  margin: 0px;
  background-size: cover;
  text-align: center;
  flex-basis: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--default-font);
}

main {
  padding: 0em 1em 0em 1em;
  text-align: left;
  background-color: var(--page-background-color);
}
.intro {
  color: var(--text-light-color);
  font-size: 1.4em;

}
.description {
  font-size: 1.1em;
  color: var(--lightest-color);
  letter-spacing: .075em;
}

object {
  pointer-events: none;
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: .25em;
  font-size: 1.3em;
  text-align: center;
  color: var(--almost-white);
  background-color: rgba(44, 44, 44, 0.438);
  font-family: var(--default-font);
  font-weight: 350;
}

.header:hover {
  transition: color 1s ease-in-out;
}

.project-descr {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  font-family: var(--default-font);
  font-size: 1.075em;
  padding: .5em .5em .5em .5em;
  z-index: 1;
  background-color: var(--page-background-color);
}

.project-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid pink; */
  flex-grow: 1;
  flex-basis: 0;
}

.project-links > a {
  color: var(--lightest-color);
  text-decoration: none;
}

.project-links > a:hover {
  text-decoration: underline;
}

.project-links:hover object {
  animation-name: pulse;
}

.project-description-text {
  color: var(--lightest-color);
  text-align: left;
  letter-spacing: .075em;
  flex-grow: 1;
  flex-basis: 0;
}

.project-description-text > li {
  padding: .05em 0em .05em 0em;
}

.project-description-text > li > a {
  /* color: var(--primary-color); */
}

.logo-icon {
  height: 100px;
  text-align: center;
}

.svg-icon-social {
  height: 2em;
}

.png-icon-social {
  height: 2em;
}
/*
.header-and-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*/
.header-and-logo {
  background-image:url(../images/IMG_2911.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.social-links {
  display: flex;
  justify-content: space-around;
  padding: 1em 0em 1em 0em;
  background-color: var(--almost-white);
}

.social-links > a:hover {
  animation-name: pulse;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.slow {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.svg-icon-project {
  height: 3.3em;
}
