/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --primary-color: #3342c0;
  --social-icons-color: #3342c0;
  --pale-primary-color: #8995ff;
  --highlight-color: #ffa500;
  --text-light-color: #444444;
  --header-color: #727272;
  --default-font: 'Lato', Verdana, sans-serif;
  --page-background-color: rgb(255, 255, 255);
  --lightest-color: rgb(95, 95, 95);
  --some-color: #a8a8a8;
  --almost-white: #eeeeee;
  --dark: rgb(83, 83, 83);
  --darker: black;
  --overlay-color: rgba(0, 0, 0, 0.466);
  --theme-color: #efd7b1;
  --theme-color-darker: #b19363;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--page-background-color);
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-family: var(--default-font);
  font-size: 16px;
  direction: ltr;
}

/* header on mobile is this tall */
header {
  height: 12em;
}

/* header image link text */
.hero-link {
  display: flex;
  align-items:center;
  position: relative;
  bottom: 5em;
  color: var(--almost-white);
  background-color: var(--overlay-color);
}

/* h1 header image text */
h1, h2 {
  margin: 0em;
  color: var(--almost-white);
  font-size: 1.3em;
}

.hero-icon {
  height: 2.7em;
  margin: .5em;
}

.hero-image, .divider-image {
  height: 12em;
  position: relative;
  width: 100%;
  top: 0;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-section {
  display: flex;
  flex-direction: column;
  padding: 1.75em;
  background-color: var(--page-background-color);
  z-index: 1;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link-container > a {
  color: var(--primary-color);
  font-size: 1.3em;
}

.resume-download-icon {
  height: 2em;
  margin: 0em .5em 0em .5em;
}

.intro {
  color: var(--text-light-color);
  font-size: 1.2em;
  text-indent: 1em;
  margin-bottom: 3em;
  margin: 0em 0em .5em 0em;
  line-height: 1.4em;
}

.description {
  color: var(--lightest-color);
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: .075em;
  margin: 0em;
}

.more-icon {
  height: 3em;
  margin-bottom: 1.75em;
}

.details {
  height: 12em;
  /* padding-top: 1.75em; */
  width: 100%;
  overflow: hidden;
}

.details-header {
  position: relative;
  bottom: 4em;
  padding: .1em 0em .3em .7em;
  color: var(--almost-white);
  background-color: var(--overlay-color);
}

.details-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 0em 1em 0em;
}

.project-image {
  height: 15em;
  flex-grow: 1;
  flex-basis: 0;
}
.project-descr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--default-font);
  width: 100%;
  padding: 1em 1em 1em 1em;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0em;
  margin: 0em;
}

.project-description-text {
  color: var(--dark);
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description-text > li {
  padding: 0em 0em 0em 1em;
}

.project-description-text > li > a {
  color: var(--social-icons-color);
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  padding: 1em .5em 1em .5em;
  background-color: var(--almost-white);
  width: 100%;
}

.social-links > a:hover {
  animation-name: pulse;
}

.social-links-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg-icon-social {
  height: 1.5em;
}

.png-icon-social {
  height: 2em;
}

/* something */
.image-cover {
  object-fit: cover;
}

.image-fill {
  object-fit: contain;
}

.zero-opacity {
  opacity: 0;
}

object {
  pointer-events: none;
}

/* desktop */
@media screen and (max-resolution: 96dpi) and (min-width: 600px) {
  h1, h2 {
    font-size: 3em;
  }
  header,
  .hero-image,
  .divider-image,
  .details {
    height: 30em;
  }
  .hero-icon {
    height: 5em;
    margin: 1em;
  }
  .hero-link, .details-header {
    bottom: 12em;
    /* font-size: 1.5em; */
  }
  .resume-section {
    padding: 7em 7em 1em 7em;
    width: 80%;
  }
  .intro {
    font-size: 2em;
  }
  .description {
    font-size: 1.6em;
  }
  .project-descr {
    width: 50%;
  }
  .link-container > a {
    font-size: 2em;
  }
  .resume-download-icon {
    height: 2em;
    margin: 0em .5em 0em .5em;
  }
  .more-icon {
    height: 5em;
  }
}
/*
  .project-description-text {
    font-size: 1.6em;
  }

  .resume-section {
    width: 50%;
    padding: 3em 0em 5em 0em;
    font-size: 1.4em;
  }

  .details {
    height: 30em;
    width: 100%;
  }

  .details-header {
    font-size: 4em;
  }

  .divider-image {
    height: 30em;
  }
  
  .project-image {
    height: 35em;
  }
}
*/
/* ipad */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
  header {
    height: 25em;
  }
  
  .header-link-container {
    font-size: 1.6em;
  }

  .hero-image {
    height: 25em;
  }

  .project-descr {
    width: 100%;
  }

  .project-description-text {
    font-size: 2em;
  }

  .resume-section {
    width: 75%;
  }

  .details {
    height: 25em;
  }

  .details-header {
    font-size: 4em;
  }

  .divider-image {
    height: 25em;
  }

  .project-image {
    height: 40em;
  }
}

/* ipadPro
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px) {
  .header-and-logo {
    height: 15em;
  }
  .header-link {
    font-size: 3em;
  }
  main {
    padding-top: 5em;
    width: 70%;
    font-size: 1.7em;
  }
  .photo-divider {
    height: 15em;
    margin: 3em 0em 3em 0em;
  }
  .main-info {
    display: flex;
  }
  .project-descr {
    width: 50%;
  }
  .descr-container {
    font-size: 1.4em;
  }
}
*/

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.slow {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
