/* Coolors Exported Palette - coolors.co/c0d3b4-222222-ffffff-f4d35e-32936f */

/* HSL */
$color1: hsla(97%, 26%, 77%, 1);
$color2: hsla(0%, 0%, 13%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(47%, 87%, 66%, 1);
$color5: hsla(158%, 49%, 39%, 1);

/* RGB */
$color1: rgba(192, 211, 180, 1);
$color2: rgba(34, 34, 34, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(244, 211, 94, 1);
$color5: rgba(50, 147, 111, 1);
$color6: rgba(95, 95, 95, 1);