<template>
  <style>
    @import "../css/components.css";
  </style>
  <main>
    <!-- Back button -->
    <div class="icon-container">
      <button
        onclick="history.back();">
          <object
            class="close-icon"
            data="../icons/baseline-close-24px.svg"
            type="image/svg+xml"
            aria-label="Go back icon">
            <!--img
              class="png-icon"
              src="../icons/baseline-close-24px.png"
              alt="Go back icon"-->
          </object>
        </button>
    </div>
    <article class="project-descr">
      <!-- text -->
      <section class="text-descr-container">
        <h1 class="page-title">title placeholder</h1>
        <p class="text-descr"><slot name="text-description">text description placeholder</slot></p>
        <ul class="external-links"></ul>
      </section>
      <section class="project-images">
      </section>
    </article>
  </main>
</template>
